# Dépendances
node_modules/
/reserve-administrative/build/
/Reserves_admin/webApp-reserve-admin/target/

# Fichiers de log
npm-debug.log*
yarn-error.log
*.log

# Fichiers de configuration d'IDE
.idea/
.vscode/
*.iml

# Fichiers système
.DS_Store
Thumbs.db
